.projects__cards {
    background-color: #333;
    height: 550px;
    padding: 5rem 2rem;
    border-radius: 8px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (min-width: 530px) {
    .projects__cards {
        gap: 5rem;
    }
}


