.projects__card-status {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #e5e5e5;
    padding: .5em 1em;
    border-radius: 8px;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 2em;
}

.projects__card-status i {
    margin-right: .5em;
}

.projects__card-status--responsive {
    color: rgb(97, 182, 40);
}

.projects__card-status--not-responsive {
    color: rgb(255, 38, 0);
}
