.info__card-heading {
    text-transform: uppercase;
    font-size: 1.7em;
    margin-bottom: 1em;
}

@media screen and (min-width: 600px) {
    .info__card-heading {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 850px) {
    .info__card-heading {
        font-size: 2rem;
    }
}